.container{
    display: flex;
    width: 690px;
    padding: 20px;
    margin: 20px;
    
}
.container>div{
    width: 33%;
    padding: 5px;
}
.column1{
    margin-top: 40px;
    
}
.column2{
    align-items: center;
    justify-content: space-around;
    border-left: 10px #333 solid;
    border-right: 10px #333 solid;
}
.column3{
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
    
}
.column3{
    align-items: center;
    justify-content: space-around;
}
img{
    width: 225px;
    height: auto;
}
#underline{
    text-decoration: underline;
    text-align: center;
}
#bold{
    text-align: center;
    border-top: 10px #333 solid;
    border-bottom: 10px #333 solid;
    font-family: 'Franklin Gothic Medium';
}
#social{
    text-align: center;
    font-size: 24px;
}
#main{
  
    font-size: smaller;
}
#VIT{
    height: 55px;
    width: 95px;
    padding-left: 60px;
    padding-right: 60px;

}